.nav {
    grid-area: n;
    background-color: rgba(198, 141, 54, 0.979);
    padding: 20px;
    text-align: center;
    height: auto;
}

.button {
    width: 90px;
    margin-top: 5px;
    vertical-align: center;
}
